<div id="wrapper">


    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top header-style" role="navigation">

          <div style="text-align: center; font-size: 20px">Header (CoreBundle/Resources/views/Default/header.html.twig)</div>

    </nav>