<button class="btn btn btn-primary" ui-sref="exemplo.listar()">Listar</button>
<button class="btn btn btn-primary" ui-sref="exemplo.criar()">Criar</button>

<div ng-switch on="currentState">
    <div ng-switch-when="exemplo.listar">
        <div ng-include="'resource/exemplo?file=templates/exemplo/exemplo-list.html'"></div>
    </div>
    <div ng-switch-when="exemplo.detalhe">
        <div ng-include="'resource/exemplo?file=templates/exemplo/exemplo-detail.html'"></div>
    </div>
    <div ng-switch-when="exemplo.criar">
        <div ng-include="'resource/exemplo?file=templates/exemplo/exemplo-form.html'"></div>
    </div>
    <div ng-switch-when="exemplo.editar">
        <div ng-include="'resource/exemplo?file=templates/exemplo/exemplo-form.html'"></div>
    </div>
    <div ng-switch-default>
        <div ng-include="'resource/exemplo?file=templates/exemplo/exemplo-list.html'"></div>
    </div>
</div>